// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 4em;
  }

  .projects p {
    font-size: 1.2em;
  }
}

//desktop
@include mediaLg {
  .projects {
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5em;
  }
  .projects p {
    font-size: 1em;
  }
}

@include fixWorkPage {
  .projects {
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 3em;
  }
  .projects p {
    font-size: 0.8em;
  }

  .projects h1 {
    font-size: 26px;
  }
}
//tablets small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  #first {
    align-items: center;
    text-align: center;
  }

  #second {
    align-items: center;
    text-align: center;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/profile-small.png");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-areas:
      "p1"
      "t1"
      "p2"
      "t2"
      "p3"
      "t3";
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .projects p {
    font-size: 0.75em;
  }
}

//phones
@include mediaSm {
  main {
    main#home h1 {
      margin-top: 10vh;
    }
  }
  #workHeader {
    font-size: 3em;
  }
  .projects {
    grid-template-areas:
      "p1"
      "t1"
      "p2"
      "t2"
      "p3"
      "t3";
    grid-template-columns: 1fr;
  }

  .projects h1 {
    font-size: 20px;
  }
}
