@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Archivo', sans-serif;
  line-height: 1.5;
}
canvas {
  display: block;
  //vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: burlywood;
  }
}

a {
  color: burlywood;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}
#first {
  border-top: 1px $secondary-color solid;
  margin-top: 25rem;
  padding: 4rem;
  height: 100%;
}
#second {
  border-top: 1px $secondary-color solid;
  margin-top: 5rem;
  padding: 4rem;
  height: 100%;
}
main {
  padding: 4rem;
  height: 100%;
  //calculate previous element in this case, main, and subtract
  // height of the footer to make it sticky icky
  min-height: calc(100vh-60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 52%;
    border: $secondary-color 2px solid;
    background-size: cover;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job1 {
    grid-area: job1;
  }

  .job2 {
    grid-area: job2;
  }

  .job3 {
    grid-area: job3;
  }

  .job {
    background: white;
    padding: 0.5em;
    border-bottom: $secondary-color 5px solid;
    text-align: center;
  }

  h6 {
    color: $secondary-color;
    font-size: 1rem;
  }
}
#workHeader {
  font-size: 6em;
}
//work and projects
.projects {
  display: grid;
  grid-template-areas:
    "p1 t1"
    "t2 p2"
    "p3 t3"
    "t4 p4"
    "p5 t5";
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 2fr);

  .pPad {
    margin-bottom: 2rem;
  }

  .p1 {
    grid-area: p1;
  }

  .t1 {
    grid-area: t1;
  }

  .p2 {
    grid-area: p2;
  }

  .t2 {
    grid-area: t2;
  }

  .p3 {
    grid-area: p3;
  }

  .t3 {
    grid-area: t3;
  }
  .t4 {
    grid-area: t4;
  }
  .p4 {
    grid-area: p4;
  }
  .t5 {
    grid-area: t5;
  }
  .p5 {
    grid-area: p5;
  }

  p {
    font-size: 1.25em;
    margin: 0;
  }

  img {
    width: 100%;
    height: 70%;
    border: 3px $secondary-color solid;
  }
}

// button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: burlywood;
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

.margin-top {
  margin-top: 5rem;
}

.animated.delay-Qs {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.animated.delay-1s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animated.delay-2s {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

//media queries should be run after initial css
@import "mobile";
